* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-flex {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

/* Fixed header */
.section-wrapper {
  position: relative;
}

.fixed-header {
  display: flex;
  height: 180px;
  justify-content: space-between;
  padding: 0px 25px 0px 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #fcfcfc;
}

.fixed-site-title {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(96, 0, 0);
  font-size: xx-large;
}

/* fixed header ends*/

/* Navbar starts*/
.fixed-header ul {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 0px 25px 0px 25px;
}

header .logo-navbar {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

header ul {
  margin: 7px 0;
}

header ul li a {
  padding: 15px 20px;
  color: #160c34;
}

header ul li a:hover {
  background: rgb(96, 0, 0);
  color: #fcfcfc;
  border-radius: 10px;
  text-shadow: none;
}

header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.signup-login-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.signup-login-buttons {
  display: flex;
  padding: 10px;
  list-style: none;
}

.signup-login-buttons li a {
  padding: 15px 20px;
}

.signup-login-buttons li a:hover {
  background: rgb(96, 0, 0);
  color: #fcfcfc;
  border-radius: 10px;
  text-shadow: none;
}

/* .signup-login-buttons li a:visited {
  background: rgb(96, 0, 0);
  border-radius: 10px;
  text-shadow: none;
  color: #160c34 !important;
} */

/* navbar ends*/

/* homepage */
body {
  background-color: #f4e4e4;
  background-image: linear-gradient(
    180deg,
    #f4e4e4 0%,
    #8c1046 88%,
    #510d3e 100%
  );
  background-repeat: no-repeat;
}

.flex-row {
  display: flex;
  justify-content: space-around;
  padding: 30px 0px 10px 0px;
}

.row-home {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 30px 45px 10px 45px;
}

.column-home {
  text-align: center;
  flex: 25%;
  padding: 0px 25px 0px 25px;
}

.section-title {
  padding: 10px 0px 0px 0px;
}

.section-title h2 {
  color: #160c34;
}

.row-home {
  padding: 0px 10px 10px 10px;
}

.row-home img {
  border-radius: 15px;
  padding-bottom: 10px;
}

.row-home p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #f4e4e4;
}
/* homepage ends*/

/* Breakup Artists */
.section-title {
  display: flex;
  justify-content: space-around;
  padding: 30px 0px 10px 0px;
  text-align: center;
  color: black;
}

.row-breakup {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
  padding: 30px 45px 10px 45px;
}

.column-breakup {
  text-align: center;
  flex: 5%;
  padding: 0px 25px 0px 25px;
  color: white;
}

.column img {
  margin-top: 8px;
  width: 30%;
}

.title {
  color: black;
}

.stars {
  color: yellow;
}

/* button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 50%;
  font-size: 18px;
} */

/* button:hover {
  opacity: 0.7;
} */

.p1 {
  font-weight: bold;
  color: black;
  background-image: linear-gradient(
    180deg,
    #f4e4e4 0%,
    #8c1046 88%,
    #510d3e 100%
  );
}
/* breakup artists style ends */

/* Pricing starts */
.pricing-header {
  display: flex;
  justify-content: space-around;
  padding: 30px 0px 10px 0px;
  text-align: center;
  color: #160c34;
}

p {
  text-align: center;
}

.pricing-body {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
  padding: 30px 45px 10px 45px;
  gap: 30px;
}

.columns {
  text-align: center;
  flex: 5%;
  padding: 10px 5px 5px 2px;
  margin: 15px 50px 15px 50px;
  border: 4px solid #160c34;
  border-radius: 10%;
  background-color: white;
  color: #8c1046;
}

.price p {
  color: black;
}

.listPrice {
  color: blue;
  font-weight: bold;
}

.options {
  text-decoration: underline;
}

.price form {
  display: inline-block;
  width: 150px;
  text-align: center;
}

.addToCart button {
  background-color: #f1b6b6;
  color: #510d3e;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}

.addToCart button:hover {
  background-color: rgb(200, 197, 197);
}

.note {
  font-size: 0.7em;
}
/* pricing ends */

/* profile page  starts*/
/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: absolute;
  /* z-index: 1; */
  /* top: 5; */
  /* overflow-x: hidden; */
  /* padding-top: 20px; */
}

/* Control the left side */
.left {
  /* left: 0; */
  background-color: black;
  background-image: linear-gradient(
    180deg,
    #f4e4e4 0%,
    #8c1046 88%,
    #510d3e 100%
  );
}

welcome {
  padding-bottom: 50%;
  font-size: 200%;
  color: black;
}

.a {
  color: #000;
  text-decoration: none;
}
/* If you want the content centered horizontally and vertically on left side */
.centered,
.centered table {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
}
/* Style the image inside the centered container, on left side */
.centered img {
  width: 150px;
  border-radius: 50%;
  margin: auto;
}

/* logout button on profilepage -- left side */
.logout {
  width: 30%;
  background-color: #f1b6b6;
  color: #510d3e;
  /* padding: 14px 20px; */
  /* margin: 8px 0; */
  border: none;
}

.logout:hover {
  background-color: rgb(200, 197, 197);
}

/* Control the right side */
.right {
  right: 0;
  background-color: white;
  background-image: linear-gradient(
    180deg,
    #f4e4e4 0%,
    #8c1046 88%,
    #510d3e 100%
  );
}

.righttitle {
  font-weight: bold;
  padding-bottom: 0%;
  text-align: center;
  font-size: 150%;
}
/* profile page-Breakup Artists starts */
.row-breakup2 {
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  /* margin: auto; */
  padding: 30px 5px 10px 5px;
}

.column-breakup2 {
  text-align: center;
  /* flex: 25%; */
  padding: 10px 0px 20px 0px;
}
/* profile page ends */

/* login starts */
.signup {
  width: 90%;
  padding: 50px 50px 50px 350px;
  border-radius: 5px;
  align-items: center;
}

.signup input[type="text"],
input[type="password"],
select {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

.signup button[type="submit"] {
  width: 70%;
  background-color: #f1b6b6;
  color: #510d3e;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}

.signup button[type="submit"]:hover {
  background-color: rgb(200, 197, 197);
}
/* login ends*/

/* footer */
footer {
  /* background: #8c1046; */
  height: 75px;
}

.footer-text {
  text-align: center;
  padding: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 12px;
  color: #f4e4e4;
}
/* footer ends */

/* responsive */
