* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-flex {
  /* border: 2px solid red; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

/* Fixed header */
.fixed-header {
  background: rgb(205, 19, 61);
  background: linear-gradient(
    90deg,
    rgba(205, 19, 61, 1) 0%,
    rgba(189, 129, 128, 1) 35%,
    rgba(255, 244, 243, 1) 100%
  );
  display: flex;
  justify-content: space-between;
}

.fixed-site-title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
}
/* fixed header ends*/

/* Navbar */
/* .navbar-list-item {
  display: flex;
  justify-content: space-between;
} */

ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
a {
  color: black;
}

a:hover {
  color: white;
}
/* navbar ends*/

/* Breakup Artists */
.card {
  max-width: 33%;
}

.breakupartist-img {
  border-width: 10px;
}

.breakupartist-description {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/**/

/* footer */
footer {
  background: rgb(205, 19, 61);
  background: linear-gradient(
    90deg,
    rgba(205, 19, 61, 1) 0%,
    rgba(189, 129, 128, 1) 35%,
    rgba(255, 244, 243, 1) 100%
  );
}

h6 {
  text-align: center;
}

/* Automatic React CSS */
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
